@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

//COLORS
$vibrant_indigo:#635FC7;
$soft_lavender:#A8A4FF;
$deep_navy:#000112;
$charcoal_black:#20212C;
$graphite_gray:#2B2C37;
$slate_gray:#3E3F4E;
$muted_blue:#828FA3;
$pale_blue:#E4EBFA;
$off_white:#F4F7FD;
$pure_white:#FFFFFF;
$coral_red:#EA5555;
$light_pink:#FF9898;

//TYPOGRAPHY
$font-family:"Plus Jakarta Sans", sans-serif;

body{
    background-color:$pure_white;
}

