@import './../../Main.scss';

.new_column {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    color: $muted_blue;
    .add_new_column {
      @include buttonStyling;
    }
  }